doctype html
html(lang="en")
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1.mb-3 Minimum Viable Landing Page
            p.lead This tutorial learnig how to build NODEJS application using pug
            p.lead.mb-4 Learn how to lunch
            form(action='/', method='POST')
              .input-group.mb-3
                input(name='lead_email', type='email', placeholder="Enter your email")
                .form-control
                .input-group-append
                  button(type="Submit").btn.btn-primary Get Started
    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')

              
    

              




